h1, h2, h3{
  font-family: 'Days One', sans-serif;
}
.background{
  background: url('../img/background1.jpg') no-repeat center center/cover;
  height: 100vh;
}
/* Navbar */
.navbar{
  background:rgba(255,255,255, 0.85);
}
.navbar.top{
  background: transparent;
}

/* Jo Landscpaing Logo Size */
.JoLogo{
  font-size: 1.30rem;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}
.textColorB{
  background: rgba(255,255,255, 0.7);
  border-radius: 25px;
}

/* Theme Color */
strong{
  color: rgb(186, 218, 85
  );
}
.btn-JoColor{
  background: rgb(186, 218, 85
  );
}
.form-control{
  border:1px solid rgb(186, 218, 85);
}
.site-footer{
  background-image: linear-gradient(white, white, rgb(186,218,85));
}
a{
  color: black;
}
a:hover{
  text-decoration: none;
  color: rgb(93, 110, 34);
}
.nav-link{
   font-family: 'Days One', sans-serif;
   color: black;
}
.btn{
  font-family: 'Days One', sans-serif;
}

/* Background for Nav-links */
.backgroundGrass{
  background: url('../img/GrassBackgroun.jpg') no-repeat center center/cover;
  height: 29vh;
}